---
import { type Job } from "@/api/works";
import Card from "@/components/Card.astro";

interface Props {
  job: Job;
}

const { job } = Astro.props;
---
<div class="aspect-square w-full sm:max-w-[300px] shadow-lg rounded-xl border-2 border-neutral-200/50 ">
  <img class="w-full h-full object-cover" src={job.image} alt={job.alt} />
</div>

