---
import Layout from "@/layouts/Layout.astro";
import Main from "@/components/sections/Main.astro";
import Resume from "@/components/sections/resume/index.astro";
---

<Layout title="Claudia Marin">
  <Main />
  <div class="mt-4" aria-hidden="true"></div>
  <Resume />
</Layout>
