---
import NavbarMobile from "./NavbarMobile.astro";
import NavbarPc from "./NavbarPc.astro";
import { type Menu } from "@/data/menu.ts";

const options: Menu[] = [
  {
    name: "Home",
    href: "/",
  },
  {
    name: "About",
    href: "#about",
  },
  { name: "Blog", href: "/blog" },
];
---

<NavbarMobile options={options} transition:persist />

<div
  class="w-full max-w-5xl px-4 md:px-8 xl:px-0 h-fit absolute top-0 hidden lg:block"
>
  <NavbarPc options={options} />
</div>
