---
import Logo from "@/components/Logo.astro";
import type { Menu } from "@/data/menu";

interface Props {
  options: Menu[];
}

const { options } = Astro.props;
---

<nav
  class="animate-fade-in w-full h-20 py-4 flex items-center justify-between relative"
>
  <Logo className="duration-200 hover:scale-95 cursor-pointer" />
  <div class="flex gap-x-10">
    {
      options.map((option) => (
        <a class="hover:text-primary font-bold duration-200" href={option.href}>
          {option.name}
        </a>
      ))
    }
  </div>
</nav>
