---
interface Props {
    variant? : "horizontal" | "vertical";
    size? : number;
}

const { variant = "horizontal",  size = 1} = Astro.props as Props;

---

<div
    style={variant == "horizontal" ? {height: size + "px"} : {width: size + "px"}}
    aria-hidden="true" 
    class={`${variant == "horizontal" ? "w-full" : "h-full"} bg-neutral-200/80`}></div>
