---
import Title from "@/components/Title.astro";

interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<Title
  variant="a"
  href="/"
  size="large"
  className={`text-font-title ${className}`}
>
  Claudia
</Title>
