---
import Instagram from "@/components/icons/Instagram.astro";
import Facebook from "@/components/icons/Facebook.astro";
import Twitter from "@/components/icons/Twitter.astro";
import { getSocialUrl } from "@/data/social.ts";
import { type socialType } from "@/data/social";

interface Props {
  type: socialType;
}

const { type } = Astro.props;

const getSocialBackground = () => {
  switch (type) {
    case "instagram":
      return "bg-pink-500/15";
    case "facebook":
      return "bg-blue-500/15";
    case "twitter":
      return "bg-cyan-400/15";
    default:
      return "bg-neutral-300/15";
  }
};
---

<a href={getSocialUrl(type)}>
  <div
    aria-label={`Go to Claudia marin ${type} account`}
    class={"hover:scale-105 p-2 duration-150 rounded-full w-fit h-fit " +
      getSocialBackground()}
  >
    {type == "instagram" && <Instagram />}
    {type == "facebook" && <Facebook />}
    {type == "twitter" && <Twitter />}
  </div>
</a>
