---
import Instagram from "@/components/icons/Instagram.astro";
import Facebook from "@/components/icons/Facebook.astro";
import Twitter from "@/components/icons/Twitter.astro";
import Linkedin from "./icons/Linkedin.astro";
import Email from "./icons/Email.astro";

type socialType = "instagram" | "facebook" | "twitter" | "linkedin" | "email";

interface Props {
  type: socialType;
  href: string;
}

const { type, href } = Astro.props;

const getSocialBackground = () => {
  switch (type) {
    case "instagram":
      return "bg-pink-500/15";
    case "facebook":
    case "linkedin":
      return "bg-blue-500/15";
    case "twitter":
      return "bg-cyan-400/15";
    case "email":
      return "bg-orange-500/15";
    default:
      return "bg-neutral-300/15";
  }
};
---

<a href={href}>
  <div
    class={"hover:scale-105 p-2 duration-150 rounded-full w-fit h-fit " +
      getSocialBackground()}
  >
    {type == "instagram" && <Instagram />}
    {type == "facebook" && <Facebook />}
    {type == "twitter" && <Twitter />}
    {type == "linkedin" && <Linkedin/>}
    {type == "email" && <Email/>}
  </div>
</a>
